

.cus-bg {
  background-image: url("../banner-products/product-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.cus-txtimg {
  transform: scale(80%);
  padding-left: 10%;
}

.card * {
  text-align: center;
}

.card {
  border: none !important;
  border-radius: 30px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

i{
    margin: 0 2px 0 10px !important;
}

.pale img{
    object-fit: contain;
}