

.cus-bg {
  background-image: url("../banner-products/product-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.cus-bg-2 {
  background-image: url("../banner-products/slider-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.cus-bg-3 {
  background-image: url("../banner-products/slider-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.cus-txtimg {
  transform: scale(80%);
  padding-left: 10%;
}

.card * {
  text-align: center;
}

.card {
  border: none !important;
  border-radius: 30px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

i{
    margin: 0 2px 0 10px !important;
}

.pale img{
    width: 100%;
    object-fit: contain;
}

/* .badge{
    width: 200px;
} */

.cata .card{
    margin: 40px 0 40px 0;
    height: 220px;
    padding: 50px;
    border-radius: 30px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.underline{
    position: relative;
}

.underline::before{
    content: '';
    position: absolute;
    bottom: -18px;
    background-color: orange;
    border-radius: 20px;
    width: 110px;
    height: 7px;
    transform: translateX(15px);
}